*.class

# Package Files #
*.war
*.ear
.classpath
.project
.settings/
*.jar
.svn/
bin/

#LaTex Files 
*.backup
doc/command/*.pdf
doc/command/*.aux
doc/command/*.out
doc/command/*.kilepr
doc/command/*.ilg
doc/command/*.log
doc/command/*.out
doc/command/*.ind


